bower.json,
.gitignore,
i18n/*,
!i18n/ej.culture.ar-AE.min.js,
!i18n/ej.culture.de-DE.min.js,
!i18n/ej.culture.en-US.min.js,
!i18n/ej.culture.es-ES.min.js,
!i18n/ej.culture.fr-FR.min.js,
!i18n/ej.culture.vi-VN.min.js,
!i18n/ej.ej.culture.zh-CN.min.js