bower.json,
.gitignore,
i18n/*,
!i18n/ej.culture.ar-AE.js,
!i18n/ej.culture.de-DE.js,
!i18n/ej.culture.en-US.js,
!i18n/ej.culture.es-ES.js,
!i18n/ej.culture.fr-FR.js,
!i18n/ej.culture.vi-VN.js,
!i18n/ej.culture.zh-CN.js
